
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-content page-type" data-analytics="{&quot;templateType&quot;:&quot;Home&quot;,&quot;contentType&quot;:&quot;Home&quot;,&quot;audienceSegment&quot;:&quot;(not set)&quot;,&quot;language&quot;:&quot;English&quot;}" data-page-type="Home">
    <header class="homeHero homeHero-loading" data-script="heroSlider" data-speed="7000">
        <div class="container">
            <section class="homeHero--content">
                <article class="homeHero--item has-shadow" data-script=imageLazyLoading>
                    <canvas style="background-image: url('/Content/Images/91834_50059_resize_2048_4096_keepaspectratio.jpg');"></canvas>
                    <div class="homeHero--itemWrapper">
                        <p class="eyebrow eyebrow-red">&nbsp;</p>
                        <h2 class="homeHero--title h1">
                            <a class="cta" href="#" target="">
                                ExxonMobil COVID-19 response
                            </a>
                        </h2>
                        <p class="h6 homeHero--text">&nbsp;</p>
                        <div class="homeHero--ctaContainer">
                            <a href="#" class="button button-red" target="">Learn more</a>
                        </div>
                    </div>
                </article>

                <article class="homeHero--item has-shadow" data-script=imageLazyLoading>
                    <canvas style="background-image: url('/Content/Images/Campus-photography-2015_RGB.jpg');"></canvas>
                    <div class="homeHero--itemWrapper">
                        <p class="eyebrow eyebrow-red">newsroom</p>
                        <h2 class="homeHero--title h1">
                            <a class="cta" href="#" target="">
                                ExxonMobil evaluating significant near-term spending reductions
                            </a>
                        </h2>
                        <p class="h6 homeHero--text">
                            &nbsp;
                        </p>
                        <div class="homeHero--ctaContainer">
                            <a href="#" class="button button-red" target="">Read the release</a>
                            <a href="#" class="cta cta-white cta-underline" target="|Custom">
                                “We are confident that we will manage through these challenging times”
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </article>

                <article class="homeHero--item has-shadow" data-script=imageLazyLoading>
                    <canvas style="background-image: url('/Content/Images/Guyana-liza-destiny_PS.jpg');"></canvas>
                    <div class="homeHero--itemWrapper">
                        <p class="eyebrow eyebrow-red">Newsroom</p>
                        <h2 class="homeHero--title h1">
                            <a class="cta" href="#" target="">
                                8 billion barrels in Guyana
                            </a>
                        </h2>
                        <p class="h6 homeHero--text">
                            ExxonMobil increases recoverable resource estimate, makes 16th Stabroek discovery
                        </p>
                        <div class="homeHero--ctaContainer">
                            <a href="#" class="cta cta-white cta-underline" target="|Custom">
                                Learn more about ExxonMobil in Guyana
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </article>

                <article class="homeHero--item has-shadow" data-script=imageLazyLoading>
                    <canvas style="background-image: url('/Content/Images/89427_50059_resize_2048_4096_keepaspectratio.jpg');"></canvas>
                    <div class="homeHero--itemWrapper">
                        <p class="eyebrow eyebrow-red">Energy and environment</p>
                        <h2 class="homeHero--title h1">
                            <a class="cta" href="#" target="">
                                2020 Energy &amp; Carbon Summary
                            </a>
                        </h2>
                        <p class="h6 homeHero--text">
                            Explore how we are positioned to address the risks related to climate change while meeting the growing energy demand of a more prosperous world.
                        </p>
                        <div class="homeHero--ctaContainer">
                            <a href="#" class="button button-red" target="">Learn more</a>
                            <a href="#" class="cta cta-white cta-underline" target="_blank">
                                Download the report
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </section>
            <div class="homeHero--control">
                <div class="homeHero--pos"></div>
                <div class="homeHero--itemCta" data-pos="0" data-color="red">
                    <button class="homeHero--itemTitle text-small">ExxonMobil COVID-19 response</button>
                </div>
                <div class="homeHero--itemCta" data-pos="1" data-color="red">
                    <button class="homeHero--itemTitle text-small">ExxonMobil evaluating significant near-term spending reductions</button>
                </div>
                <div class="homeHero--itemCta" data-pos="2" data-color="red">
                    <button class="homeHero--itemTitle text-small">8 billion barrels in Guyana</button>
                </div>
                <div class="homeHero--itemCta" data-pos="3" data-color="red">
                    <button class="homeHero--itemTitle text-small">2020 Energy &amp; Carbon Summary</button>
                </div>
            </div>
        </div>
    </header>
    <div class="home--wrapper">

        <section class="missionStatement" data-script="mission-statement">
            <div class="container">
                <div class="missionStatement--wrapper missionStatement-red">
                    <article class="missionStatement--content">

                        <div class="missionStatement--tooltip" id="MS_e28da84f-2ee5-469b-9c52-e4b6b98bd194_6CF31B6076184F7D99B7DB12B16E49F8_1" role="tooltip">
                            <div class="arrow"></div>
                            <div class="missionStatement--tooltip--image" data-script="image-cover" aria-label="" tabindex="0">
                                <img class="img-cover" src="https://corporate.exxonmobil.com/-/media/Global/Images/Homepage/Outlook_16-x-9.jpg" alt="">
                            </div>
                            <div class="missionStatement--tooltip--text" aria-label="mission statement description" tabindex="0">
                                The <em>Outlook for Energy</em> is ExxonMobil&rsquo;s global view of energy demand and supply through 2040. We use the data and findings to help guide our long-term strategies and investments.
                            </div>
                            <div class="missionStatement--tooltip--cta">
                                <a href="#" target="" class="cta">
                                    Learn more <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                            <div class="missionStatement--tooltip--close">
                                <button class="icon-close-light" tabindex="0" aria-label="close">
                                    <span class="visibility-hidden">close</span>
                                </button>
                            </div>
                        </div>
                        <div class="missionStatement--tooltip" id="MS_e28da84f-2ee5-469b-9c52-e4b6b98bd194_82B38A849E8741C28B461417BBDC5A86_2" role="tooltip">
                            <div class="arrow"></div>
                            <div class="missionStatement--tooltip--image" data-script="image-cover" aria-label="An employee at the Cold Lake pipeline" tabindex="0">
                                <img class="img-cover" src="https://corporate.exxonmobil.com/-/media/Global/Images/Supporting-images/Operations/cold-lake-pipeline-supporting.jpg" alt="An employee at the Cold Lake pipeline">
                            </div>
                            <div class="missionStatement--tooltip--text" aria-label="mission statement description" tabindex="0">
                                ExxonMobil considers risk at every stage of development, and we continuously work to manage environmental impacts.
                            </div>
                            <div class="missionStatement--tooltip--cta">
                                <a href="#" target="" class="cta">
                                    Learn more <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                            <div class="missionStatement--tooltip--close">
                                <button class="icon-close-light" tabindex="0" aria-label="close">
                                    <span class="visibility-hidden">close</span>
                                </button>
                            </div>
                        </div>
                        <div class="missionStatement--tooltip" id="MS_e28da84f-2ee5-469b-9c52-e4b6b98bd194_CF526592467B4CEB91C8052D814B7D8F_3" role="tooltip">
                            <div class="arrow"></div>
                            <div class="missionStatement--tooltip--image" data-script="image-cover" aria-label="An ExxonMobil employee using a profilometer" tabindex="0">
                                <img class="img-cover" src="https://corporate.exxonmobil.com/-/media/Global/Images/Supporting-images/Operations/exxonmobil-employee-profilometer-supporting.jpg" alt="An ExxonMobil employee using a profilometer">
                            </div>
                            <div class="missionStatement--tooltip--text" aria-label="mission statement description" tabindex="0">
                                We actively support initiatives to reduce consumer emissions from the use of our products in the transportation sector.
                            </div>
                            <div class="missionStatement--tooltip--cta">
                                <a href="#" target="" class="cta">
                                    Learn more <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                            <div class="missionStatement--tooltip--close">
                                <button class="icon-close-light" tabindex="0" aria-label="close">
                                    <span class="visibility-hidden">close</span>
                                </button>
                            </div>
                        </div>
                        <div class="missionStatement--text">
                            The need for energy is <a href="\#\" data-id="MS_e28da84f-2ee5-469b-9c52-e4b6b98bd194_6CF31B6076184F7D99B7DB12B16E49F8_1" aria-label="universal">universal</a>. That's why ExxonMobil scientists and engineers are pioneering new research and pursuing new technologies to <a href="\#\" data-id="MS_e28da84f-2ee5-469b-9c52-e4b6b98bd194_82B38A849E8741C28B461417BBDC5A86_2" aria-label="reduce emissions">reduce emissions</a>&nbsp;while creating <a href="\#\" data-id="MS_e28da84f-2ee5-469b-9c52-e4b6b98bd194_CF526592467B4CEB91C8052D814B7D8F_3" aria-label="more efficient fuels">more efficient fuels</a>. We're committed to responsibly meeting the world's energy needs.
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="iconGrid iconGrid-two-column" data-script="icon-grid" data-context-id="4dd673dc-a32d-4365-989a-d483210880a7">
            <div class="container">
                <div class="iconGrid--title">
                    <h3>Our commitment</h3>
                    <span class="iconGrid--title-description p">
                        <p>Affordable and sustainable energy solutions are required to advance global prosperity. We invest in technology and communities to bring the world better energy.</p>
                    </span>
                </div>
                <div class="iconGrid--items">
                    <div class="iconGrid--items-group">
                        <div class="iconGrid--item" tabindex="0">
                            <div class="iconGrid--item-title">
                                <h3>Improving energy access</h3>
                                <i class="fas fa-lightbulb"></i>
                            </div>
                            <div class="iconGrid--item-content">
                                <span class="item--description p">
                                    <p>We work to make energy more affordable so more people can benefit from it.</p>
                                </span>
                                <a class="cta" href="#" target="">
                                    Learn more<i class="fas fa-arrow-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="iconGrid--item" tabindex="0">
                            <div class="iconGrid--item-title">
                                <h3>Improving efficiency</h3>
                                <i class="fas fa-spinner"></i>

                            </div>
                            <div class="iconGrid--item-content">
                                <span class="item--description p">
                                    <p>From longer-lasting fuels to less intensive operations, we work to make energy work harder.</p>
                                </span>
                                <a class="cta" href="#" target="">
                                    Learn more<i class="fas fa-arrow-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="iconGrid--item" tabindex="0">
                            <div class="iconGrid--item-title">
                                <h3>Sustainability</h3>
                                <i class="fas fa-tree"></i>

                            </div>
                            <div class="iconGrid--item-content">
                                <span class="item--description p">
                                    <p>We work with local communities to support long-term economic growth.</p>
                                </span>
                                <a class="cta" href="#" target="">
                                    Learn more<i class="fas fa-arrow-right"></i>
                                </a>

                            </div>

                        </div>

                    </div>
                    <div class="iconGrid--items-group">
                        <div class="iconGrid--item" tabindex="0">
                            <div class="iconGrid--item-title">
                                <h3>Mitigating emissions</h3>
                                <i class="far fa-chart-bar"></i>

                            </div>
                            <div class="iconGrid--item-content">
                                <span class="item--description p">
                                    <p>Reducing our impact is a key component of our approach to advancing energy technology.</p>
                                </span>
                                <a class="cta" href="#" target="">
                                    Learn more<i class="fas fa-arrow-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="iconGrid--item" tabindex="0">
                            <div class="iconGrid--item-title">
                                <h3>Job creation</h3>
                                <i class="far fa-id-card"></i>

                            </div>
                            <div class="iconGrid--item-content">
                                <span class="item--description p">
                                    <p>New ExxonMobil projects create jobs in a variety of fields, in the U.S. and abroad.</p>
                                </span>
                                <a class="cta" href="#" target="">
                                    Learn more<i class="fas fa-arrow-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="iconGrid--item" tabindex="0">
                            <div class="iconGrid--item-title">
                                <h3>Outreach</h3>
                                <i class="far fa-handshake"></i>

                            </div>
                            <div class="iconGrid--item-content">
                                <span class="item--description p">
                                    <p>Our efforts to respect human rights are rooted in a commitment to manage our social and environmental impacts.</p>
                                </span>
                                <a class="cta" href="#" target="">
                                    Learn more<i class="fas fa-arrow-right"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>


        <section class="keytopicstrending">
            <div class="container">
                <div class="keytopicstrending--wrapper">
                    <div class="keytopicstrending--left">

                        <section class="keytopics--wrapper" data-script="key-topics">

                            <div class="keytopics--section-title">
                                <h2><p>Key topics<br /></p></h2>
                            </div>

                            <div class="keytopics keytopics-two-up keytopics-loading">
                                <div class="keytopics--sizer"></div>
                                <div class="gutter--sizer"></div>



                                <div class="keytopics--item">
                                    <a href="#" aria-label="Delivering the future of energy in Clinton" target="_self">
                                        <article class="keytopics--image lazy-image" data-scroll="true" data-script=imageLazyLoading>
                                            <canvas style="background-image: url('/Content/Images/Antwerp-refinery_inline_144092.jpg');">
                                        </article>
                                    </a>          <h4 class="keytopics--title">
                                        <a href="#" target="_self" class="h4-link">Delivering the future of energy in Clinton</a>
                                    </h4>

                                    <p class="keytopics--description">
                                        At ExxonMobil&rsquo;s research facility in Clinton, New Jersey, scientists and engineers develop breakthrough technologies,
                                        collaborating with universities, national labs and companies across the globe to solve the dual energy challenge&nbsp;&mdash;
                                        to provide energy to a growing global population while reducing greenhouse gas emissions.
                                    </p>

                                    <p class="info">
                                        <span class="tag-wrapper">
                                            <span class="tag"><a href="#">Energy tech centers</a></span>
                                        </span>



                                        <strong class="content-type">Article</strong>

                                        <span class="dot"> • </span>
                                        <span class="date">Nov. 14, 2018</span>

                                    </p>
                                </div>
                                <div class="keytopics--item">
                                    <a href="#" aria-label="Innovating energy solutions: Research and development highlights" target="_self">
                                        <article class="keytopics--image lazy-image" data-scroll="true" data-script=imageLazyLoading>
                                            <canvas style="background-image: url('/Content/Images/SGI-labs_inline_142545.jpg');">
                                        </article>
                                    </a>          <h4 class="keytopics--title">
                                        <a href="#" target="_self" class="h4-link">Innovating energy solutions: Research and development highlights</a>
                                    </h4>

                                    <p class="keytopics--description">
                                    <p>
                                        R&amp;D has been part of ExxonMobil&rsquo;s DNA since our company began more than 135 years ago. Our innovations have helped
                                        provide the energy fundamental to modern life &ndash; from the clean, efficient fuels that power today&rsquo;s transportation to
                                        the natural gas that provides light and heat to homes and businesses.
                                    </p>
                                    <p>
                                        Today, our world faces a dual challenge: meeting growing demand for energy while also reducing environmental impacts,
                                        including the risks of climate change. ExxonMobil is committed to doing our part.
                                    </p>
                                    </p>

                                    <p class="info">
                                        <span class="tag-wrapper">
                                            <span class="tag">Research and innovation</span>
                                        </span>



                                        <strong class="content-type">Article</strong>

                                        <span class="dot"> • </span>
                                        <span class="date">July 15, 2019</span>

                                    </p>
                                </div>
                                <div class="keytopics--item">
                                    <a href="#" aria-label="Energy &amp; Carbon Summary" target="_self">
                                        <article class="keytopics--image lazy-image" data-scroll="true" data-script=imageLazyLoading>
                                            <canvas style="background-image: url('/Content/Images/89427_50059_resize_2048_4096_keepaspectratio.jpg'); ">
                                        </article>
                                    </a>          <h4 class="keytopics--title">
                                        <a href="#" target="_self" class="h4-link" ">Energy &amp; Carbon Summary</a>
                                    </h4>

                                    <p class="keytopics--description">
                                        ExxonMobil has a proven record of successfully meeting society&lsquo;s evolving demand for energy. With longstanding investments
                                        in technology coupled with the ingenuity of our people, we are well positioned to continue to responsibly meet the demands of a
                                        more prosperous world while managing environmental impacts.
                                    </p>

                                    <p class="info">
                                        <span class="tag-wrapper">
                                            <span class="tag">Energy and environment</span>
                                        </span>



                                        <strong class="content-type">Topic</strong>

                                        <span class="date"></span>

                                    </p>
                                </div>
                                <div class="keytopics--item">
                                    <a href="#" aria-label="Sunrise to sunset: 24 hours at an algae farm" target="_blank">
                                        <article class="keytopics--image lazy-image" data-scroll="true" data-script=imageLazyLoading>
                                            <canvas style="background-image: url('/Content/Images/exxon_algae-ponds_20181002_1573-1200x675.jpg');">
                                        </article>
                                    </a>          <h4 class="keytopics--title">
                                        <a href="#" target="_blank" class="h4-link">Sunrise to sunset: 24 hours at an algae farm</a>
                                    </h4>

                                    <p class="keytopics--description">
                                        At a research farm nestled in Southern California&rsquo;s Imperial County, Synthetic Genomics and ExxonMobil are cultivating
                                        acres of energy-rich algae. Their goal: Have the technical ability to produce 10,000 barrels a day of low-emission algae biofuel.
                                    </p>

                                    <p class="info">
                                        <span class="tag-wrapper">
                                            <span class="tag"><a href="#">Advanced biofuels</a></span>
                                        </span>



                                        <strong class="content-type"><span class="color-red">Energy Factor</span> </strong>

                                        <span class="dot"> • </span>
                                        <span class="date">Dec. 4, 2018</span>

                                    </p>
                                </div>
                                <div class="keytopics--item">
                                    <a href="#" aria-label="Collaborating with leading universities to meet global energy demand" target="_self">
                                        <article class="keytopics--image lazy-image" data-scroll="true" data-script=imageLazyLoading>
                                            <canvas style="background-image: url('/Content/Images/students-on-university-campus-steps_supporting.jpg');">
                                        </article>
                                    </a>          <h4 class="keytopics--title">
                                        <a href="#" target="_self" class="h4-link">Collaborating with leading universities to meet global energy demand</a>
                                    </h4>

                                    <p class="keytopics--description">
                                        ExxonMobil has worked with dozens of leading universities and academic research institutions around the world as part of our
                                        commitment to finding meaningful and scalable solutions to meet global energy demand and reduce emissions.
                                    </p>

                                    <p class="info">
                                        <span class="tag-wrapper">
                                            <span class="tag"><a href="#">Research partners</a></span>
                                        </span>



                                        <strong class="content-type">Article</strong>

                                        <span class="dot"> • </span>
                                        <span class="date">Sept. 18, 2018</span>

                                    </p>
                                </div>
                                <div class="keytopics--item">
                                    <a href="#" aria-label="Cleaner power: reducing emissions with carbon capture and storage" target="_self">
                                        <article class="keytopics--image lazy-image" data-scroll="true" data-script=imageLazyLoading>
                                            <canvas style="background-image: url('/Content/Images/LaBarge-Wyoming-supporting.jpg');">
                                        </article>
                                    </a>          <h4 class="keytopics--title">
                                        <a href="#" target="_self" class="h4-link">Cleaner power: reducing emissions with carbon capture and storage</a>
                                    </h4>

                                    <p class="keytopics--description">
                                        For more than 30 years, ExxonMobil engineers and scientists have researched, developed and applied technologies that could
                                        play a role in the widespread deployment of carbon capture and storage.
                                    </p>

                                    <p class="info">
                                        <span class="tag-wrapper">
                                            <span class="tag"><a href="#">Carbon capture</a></span>
                                        </span>



                                        <strong class="content-type">Article</strong>

                                        <span class="dot"> • </span>
                                        <span class="date">Nov. 15, 2018</span>

                                    </p>
                                </div>

                            </div>

                        </section>



                    </div>
                    <div class="keytopicstrending--right">
                        <section class="trending" data-script="key-topics-trending"
                                 data-urlservice="/api/v2/keytopics/trending"
                                 data-contextid="{4DD673DC-A32D-4365-989A-D483210880A7}"
                                 data-itemid="5a10ef58-d917-42cb-8bdf-cd3d4db7cb1e"
                                 data-language="en">

                            <div class="trending--title">
                                <h2><p>Trending</p></h2>
                            </div>

                            <div class="trending--content">
                                <div class="spinner-trending visible">
                                    <svg class="spinner--icon" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                    <path class="spinner--circunference" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50" transform="rotate(57.2947 50 50)"></path>
        </svg>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .singleFeatureImagewrapper_b1219661f0b94dd4b4c6024890969f0b {
                background-image: url("/Content/Images/49074_50033-1-1200x417.jpg");
            }
        </style>
        <section class="singleFeature   singleFeatureImagewrapper_b1219661f0b94dd4b4c6024890969f0b container" data-script="single-feature">
            <div class="content  container">
                <div class="singleFeature--content">
                    <span class="eyebrow eyebrow-red singleFeature--textField--eyebrow">Energy Factor</span>
                    <h2 class="singleFeature--textField singleFeature--textField--title">Our coronavirus response: Meeting a new challenge</h2>
                    <div class="singleFeature--textField singleFeature--textField--description p">
                        ExxonMobil is working to help meet the needs of health care professionals fighting this pandemic on the frontlines, as well as
                        those socially distancing themselves at home. While those needs continue to evol...
                    </div>
                    <a class="button" href="#" target="_blank">Learn more</a>
                </div>
            </div>
        </section>

        <section class="stockTicker">
            <div class="container">
                <div class="stockTicker--wrapper stockTicker-down">
                    <div class="stockTicker--item stockTicker--title">
                        <h2 class="h4">Exxon Mobil Corporation (XOM)</h2>
                    </div>
                    <div class="stockTicker--item stockTicker--data">
                        <div class="stockTicker--data-item stockTicker--price">
                            <p>$36.95</p>
                        </div>
                        <div class="stockTicker--data-item stockTicker--change">
                            <p class="text-small-bold">
                                <i class="triangle"></i>
                                $-1.87 (-4.82%)
                            </p>
                        </div>
                        <div class="stockTicker--data-item stockTicker--time">
                            <p class="info">
                                <span>4:00pm ET</span> <span class="dot">•</span> <span>March 27, 2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="stockTicker--item stockTicker--button">
                        <a href="#" class="button button-red" target="">See all investor news</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="highlight" data-script="highlight">
            <div class="container">
                <div class="highlight--wrapper highlight-gray">
                    <div class="highlight--title">

                    </div>
                    <div class="highlight--sections">
                        <div class="highlight--section">

                            <div class="highlight--section-image" data-script="image-cover">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="#">
                                    <source media="(max-width: 1024px)" srcset="#">
                                    <img srcset="/Content/Images/Beaumont-refinery_inline_142144.jpg" alt="Beaumont refinery" class="img-cover">
                                </picture>
                            </div>
                            <div class="highlight--section-title">
                                <h2 class="h3">Careers</h2>
                            </div>
                            <div class="highlight--links">
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Career opportunities</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Benefits</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Featured hiring locations</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Our hiring process</a>
                                </div>
                            </div>
                        </div>
                        <div class="highlight--section">

                            <div class="highlight--section-image" data-script="image-cover">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="#">
                                    <source media="(max-width: 1024px)" srcset="#">
                                    <img srcset="/Content/Images/motorists-1030-g888361900.jpg" alt="car driving through woods" class="img-cover">
                                </picture>
                            </div>
                            <div class="highlight--section-title">
                                <h2 class="h3">Motorists</h2>
                            </div>
                            <div class="highlight--links">
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="_blank">Find a service station</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="_blank">Loyalty and payment</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="_blank">Synergy™ Fuels</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="_blank">Motor oils and other lubricants</a>
                                </div>
                            </div>
                        </div>
                        <div class="highlight--section">

                            <div class="highlight--section-image" data-script="image-cover">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="#">
                                    <source media="(max-width: 1024px)" srcset="#">
                                    <img srcset="/Content/Images/houston-workers-ID108836.jpg" alt="Houston campus workers " class="img-cover">
                                </picture>
                            </div>
                            <div class="highlight--section-title">
                                <h2 class="h3">Who we are</h2>
                            </div>
                            <div class="highlight--links">
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Business lines</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Our history</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Management Committee</a>
                                </div>
                                <div class="highlight--link">
                                    <a href="#" class="link-black cta" target="">Guiding principles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="spinner spinner-global ">
        <svg class="spinner--icon" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <path class="spinner--circunference" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50" transform="rotate(57.2947 50 50)"></path>
        </svg>
    </div>
</main>

