
@{
    ViewBag.Title = "CareerOpportunities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main class="main-content page-type" data-analytics="{&quot;templateType&quot;:&quot;Topic&quot;,&quot;contentType&quot;:&quot;Topic&quot;,&quot;audienceSegment&quot;:&quot;(not set)&quot;,&quot;title&quot;:&quot;Build a career with us and use your energy to change the world&quot;,&quot;language&quot;:&quot;English&quot;,&quot;imageHeader&quot;:&quot;no&quot;,&quot;hasVideo&quot;:&quot;yes&quot;}" data-page-type="Topic">




        <section class="header header-secondary     ">
            <div class="header--video">
                <video data-video-id="6024749751001" data-account="2805099847001" data-player="default" data-embed="default" data-application-id class="video-js" autoplay loop muted playsinline preload="metadata"></video>
            </div>
            <div class="container">
                <div class="header--content">
                    <span class="eyebrow">
                        Career opportunities
                    </span>
                    <h1 class="header--title">Build a career with us and use your energy to change the world</h1>
                    <h4 class="p header--description">&nbsp;</h4>
                </div>
                <div class="header--aside">
                    <div class="dropdown-language topic" data-script="select-language">
                        <section class="dropdown dropdown-select" data-script="select-script" id="language">
                            <p class="dropdown--title">
                                <span></span>
                                <span class="dropdown-select-selected">English</span>
                            </p>
                            <ul class="dropdown--content">
                                <li class="dropdown--item">
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link active" data-value="en">English</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="de">Deutsch</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="es">español</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="fr">français</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="it">italiano</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="nl">Nederlands</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="pt">português</a>
                                </li>
                                <li class="dropdown--item">
                                    <a class="dropdown--link" data-value="ru">русский</a>
                                </li>
                            </ul>
                            <select name="language" id="select-language">
                                <option disabled=""></option>
                                <option value="en" selected>English</option>
                                <option value="de">Deutsch</option>
                                <option value="es">español</option>
                                <option value="fr">français</option>
                                <option value="it">italiano</option>
                                <option value="nl">Nederlands</option>
                                <option value="pt">português</option>
                                <option value="ru">русский</option>
                            </select>
                        </section>
                    </div>

                </div>
            </div>
        </section>
        <div class="topic--wrapper">
            <section class="topicContainer">
                <div class="container">
                    <div class="topicContainer--oneColumn">

                        <section class="featureGrid--wrapper" data-gridtype="three-up" data-script="feature-grid">
                            <div class="container">
                                <div class="featureGrid--section-title">
                                    <h2>Working with us at ExxonMobil</h2>
                                </div>
                                <div class="featureGrid--container">
                                    <div class="featureGrid featureGrid-three-up featureGrid-loading">
                                        <div class="featureGrid--sizer"></div>
                                        <div class="gutter--sizer"></div>
                                        <div class="featureGrid--item">
                                            <img class="featureGrid--image" src="https://corporate.exxonmobil.com/-/media/Global/Images/New-purchases/business-meeting-breakout-discussions_supporting.jpg" alt="" />

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_blank" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;https://jobs.exxonmobil.com/&quot;,&quot;linkUrl&quot;:&quot;/Shared-Content/Offsite/Careers/Featured-content/Offsite-Jobs-site&quot;,&quot;title&quot;:&quot;Explore careers&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Offsite&quot;,&quot;topicTag&quot;:&quot;(no set)&quot;}">Explore careers</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                Search job openings by location or career field: business, engineering, research, operations, and many more.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">
                                            <img class="featureGrid--image" src="https://corporate.exxonmobil.com/-/media/Global/Images/New-purchases/students-in-university-atrium_supporting.jpg" alt="Intern, co-op and apprenticeship opportunities" />

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_self" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;/Company/Student-placement&quot;,&quot;linkUrl&quot;:&quot;/Company/Student-placement&quot;,&quot;title&quot;:&quot;Student opportunities&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Topic&quot;,&quot;topicTag&quot;:&quot;Company&quot;}">Student opportunities</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                Explore your interests, grow your personal and professional network and develop career-building skills.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">
                                            <img class="featureGrid--image" src="https://corporate.exxonmobil.com/-/media/Global/Images/Careers/Alt_Images_541x258_How_to_Apply.jpg" alt="" />

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_self" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;/Company/Careers/Our-hiring-process&quot;,&quot;linkUrl&quot;:&quot;/Company/Careers/Our-hiring-process&quot;,&quot;title&quot;:&quot;Our hiring process&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Article&quot;,&quot;topicTag&quot;:&quot;Careers&quot;}">Our hiring process</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                From finding the right opportunity to accepting an offer, here's what to expect when applying at ExxonMobil.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">
                                            <img class="featureGrid--image" src="https://corporate.exxonmobil.com/-/media/Global/Images/Supporting-images/Natural-gas/Loading-dock-at-PNG-LNG_inline_90512.jpg" alt="" />

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_self" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;/Company/Who-we-are&quot;,&quot;linkUrl&quot;:&quot;/Company/Who-we-are&quot;,&quot;title&quot;:&quot;Who we are&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Topic&quot;,&quot;topicTag&quot;:&quot;Company&quot;}">Who we are</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                ExxonMobil, one of the world&rsquo;s largest publicly traded energy providers and chemical manufacturers, develops and applies next-generation technologies to help safely and responsibly meet the world&rsquo;s growing needs for energy and high-quality chemical products.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">
                                            <img class="featureGrid--image" src="./Images/83267_50059.jpg">
                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_self" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;/Company/Benefits&quot;,&quot;linkUrl&quot;:&quot;/Company/Benefits&quot;,&quot;title&quot;:&quot;Benefits&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Topic&quot;,&quot;topicTag&quot;:&quot;Benefits&quot;}">Benefits</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                An ExxonMobil career is one designed to last. Our employees grow personally and professionally, with benefits built to support every stage of life.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">
                                            <img class="featureGrid--image" src="https://corporate.exxonmobil.com/-/media/Global/Images/Careers/Salute_story_card.jpg" alt="" />

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_blank" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;https://veterans.exxonmobil.com/&quot;,&quot;linkUrl&quot;:&quot;/Shared-Content/Offsite/Careers/Featured-content/Offsite-Veteran-Hiring&quot;,&quot;title&quot;:&quot;U.S. veteran hiring&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Offsite&quot;,&quot;topicTag&quot;:&quot;(no set)&quot;}">U.S. veteran hiring</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                An invaluable segment of our workforce, veterans possess hard-earned skills and work ethic developed through service and unmatched experiences. Learn more about veteran opportunities (partner-hosted website).
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="topicContainer">
                <div class="container">
                    <div class="topicContainer--oneColumn">
                        <section class="iconGrid iconGrid-three-column" data-script="icon-grid" data-context-id="a9939f3b-b46b-41a3-b0af-7497d7dbad35" data-deeplink-subnav='{"title":"careerpaths", "anchor": "#careerpaths"}' id="careerpaths">
                            <div class="container">
                                <div class="iconGrid--title">
                                    <h2>Career paths at ExxonMobil</h2>
                                    <span class="iconGrid--title-description p">
                                        <p>What kinds of careers are available with an industry leader in energy? With operations spanning the globe, the opportunities are virtually limitless. Our career paths are broad categories of the work we do at ExxonMobil. Each career path encompasses a wide range of jobs and responsibilities. Explore your interests and learn more about the opportunities available within each career path.</p>
                                    </span>
                                </div>
                                <div class="iconGrid--items desktop">
                                    <div class="iconGrid--items-group">
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Commercial and business</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/interface/48_clipboard-2_2x_gray.png" alt="Commercial and business">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Develop commercial opportunities, build key relationships and provide the insights and analysis that shape our business strategies.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Engineering</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/people/48_worker_2x_gray.png" alt="Engineering career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Impact the way we deliver energy to the world by developing the energy solutions of tomorrow.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Finance</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_calculator_2x_gray.png" alt="Finance career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Fuel our financial success by providing expert finance, accounting and tax support to business lines across the globe.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Geoscience</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/interface/48_chart-line_2x_gray.png" alt="Geoscience career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Collect, analyze and interpret geological and geophysical data to identify and develop Exploration and Production opportunities.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="iconGrid--items-group">
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Human resources</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/people/48_group_2x_gray.png" alt="Human resources career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    Help create competitive advantage through our greatest resource: our people.
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Information technology</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_device-laptop_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Deliver IT solutions that create a competitive advantage for our global operations and enable our business partners to succeed.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Law</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_scales_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Advise on complex issues facing the energy industry.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Operations</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_refinery_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Operate, troubleshoot and maintain the systems and equipment that deliver energy to the world.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="iconGrid--items-group">
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Projects</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/interface/48_calendar_2x_gray.png" alt="Projects career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Build expertise in project development and execution as you work with industry leaders in project management.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Research and technology</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Images/Careers/48_microscope_2x_gray.png" alt="Microscope">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Leverage our world-class facilities to research the energy solutions of tomorrow.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Safety, security, health and environmental</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_shield_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Build your career with an industry leader in safety and help power the world&rsquo;s progress, safely and responsibly.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Technical and administrative support</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_headset_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Support one of the world&rsquo;s leading energy companies to enable productivity, data analysis, communication and more.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="iconGrid--items mobile">
                                    <div class="iconGrid--items-group">
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Commercial and business</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/interface/48_clipboard-2_2x_gray.png" alt="Commercial and business">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Develop commercial opportunities, build key relationships and provide the insights and analysis that shape our business strategies.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Engineering</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/people/48_worker_2x_gray.png" alt="Engineering career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Impact the way we deliver energy to the world by developing the energy solutions of tomorrow.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Finance</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_calculator_2x_gray.png" alt="Finance career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Fuel our financial success by providing expert finance, accounting and tax support to business lines across the globe.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Geoscience</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/interface/48_chart-line_2x_gray.png" alt="Geoscience career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Collect, analyze and interpret geological and geophysical data to identify and develop Exploration and Production opportunities.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Human resources</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/people/48_group_2x_gray.png" alt="Human resources career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    Help create competitive advantage through our greatest resource: our people.
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Information technology</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_device-laptop_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Deliver IT solutions that create a competitive advantage for our global operations and enable our business partners to succeed.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="iconGrid--items-group">
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Law</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_scales_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Advise on complex issues facing the energy industry.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Operations</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_refinery_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Operate, troubleshoot and maintain the systems and equipment that deliver energy to the world.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Projects</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/interface/48_calendar_2x_gray.png" alt="Projects career path">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Build expertise in project development and execution as you work with industry leaders in project management.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Research and technology</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Images/Careers/48_microscope_2x_gray.png" alt="Microscope">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Leverage our world-class facilities to research the energy solutions of tomorrow.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Safety, security, health and environmental</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_shield_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Build your career with an industry leader in safety and help power the world&rsquo;s progress, safely and responsibly.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <div class="iconGrid--item" tabindex="0">
                                            <div class="iconGrid--item-title">
                                                <h3>Technical and administrative support</h3>
                                                <img src="https://corporate.exxonmobil.com/-/media/Global/Icons/things/48_headset_2x_gray.png" alt="">

                                            </div>
                                            <div class="iconGrid--item-content">
                                                <span class="item--description p">
                                                    <p>Support one of the world&rsquo;s leading energy companies to enable productivity, data analysis, communication and more.</p>
                                                </span>
                                                <a class="cta" href="#" target="">
                                                    Learn more<i class="icon icon-carousel-arrow right"></i>
                                                </a>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </section>
            <section class="topicContainer">
                <div class="container">
                    <div class="topicContainer--oneColumn">
                        

                            <div class="content ">
                                <div class="singleFeature--content">
                                    <span class="eyebrow eyebrow-red singleFeature--textField--eyebrow">Global job opportunities</span>
                                    <h2 class="singleFeature--textField singleFeature--textField--title">Search job opportunities by location</h2>
                                    <div class="singleFeature--textField singleFeature--textField--description p">
                                        Over the last 125 years ExxonMobil has evolved from a regional marketer of kerosene in the U.S. to the largest publicly traded petroleum and petrochemical enterprise in the world. Today we operate in most of the world's countries and are best-known by our familiar brand names: Exxon, Esso and Mobil. We make the products that drive modern transportation, power cities and provide petrochemical building blocks that lead to thousands of consumer goods.
                                    </div>
                                    <a href="#" class="button button-red" target="_blank">Search jobs</a>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
            <section class="topicContainer">
                <div class="container">
                    <div class="topicContainer--oneColumn">

                        <section class="featureGrid--wrapper" data-gridtype="three-up" data-script="feature-grid">
                            <div class="container">
                                <div class="featureGrid--container">
                                    <div class="featureGrid featureGrid-three-up featureGrid-loading">
                                        <div class="featureGrid--sizer"></div>
                                        <div class="gutter--sizer"></div>
                                        <div class="featureGrid--item">

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_self" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;/Company/Careers/ExxonMobil-is-an-Equal-Opportunity-Employer&quot;,&quot;linkUrl&quot;:&quot;/Company/Careers/ExxonMobil-is-an-Equal-Opportunity-Employer&quot;,&quot;title&quot;:&quot;ExxonMobil is an Equal Opportunity Employer&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Article&quot;,&quot;topicTag&quot;:&quot;Careers&quot;}">ExxonMobil is an Equal Opportunity Employer</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability or protected veteran status.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_self" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;/Company/Contact-us/Business-solicitation-and-recruiting-scams&quot;,&quot;linkUrl&quot;:&quot;/Company/Contact-us/Business-solicitation-and-recruiting-scams&quot;,&quot;title&quot;:&quot;Business solicitation and recruiting scams&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Article&quot;,&quot;topicTag&quot;:&quot;Contact us&quot;}">Business solicitation and recruiting scams</a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                ExxonMobil does not use social media, unsolicited email or written correspondence to request an advance fee to conduct business, nor does it use recruiting or placement agencies that charge candidates an advance fee of any kind.
                                            </span>
                                        </div>
                                        <div class="featureGrid--item">

                                            <h4 class="featureGrid--title">
                                                <a href="#" target="_blank" class="h4-link" data-analytics="{&quot;event&quot;:&quot;trackEvent&quot;,&quot;category&quot;:&quot;Topic&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;https://careers.exxonmobil.com/en/how-we-hire/accessibility&quot;,&quot;linkUrl&quot;:&quot;/Shared-Content/Offsite/Careers/Legal-pages/Accessibility&quot;,&quot;title&quot;:&quot;&quot;,&quot;publishDate&quot;:&quot;1/1/0001 12:00:00 AM&quot;,&quot;contentType&quot;:&quot;Offsite&quot;,&quot;topicTag&quot;:&quot;(no set)&quot;}"></a>
                                            </h4>
                                            <span class="featureGrid--description p">
                                                <h4 class="featureGrid--title" style="margin-top:-10px">Accessibility</h4>
                                                <p>If you are visiting our site and you require a reasonable accommodation to locate information on employment opportunities or to apply for a position, please email <a href="mailto:Recruiting@exxonmobil.com">Global Recruiting</a> and provide your contact information.  A recruiting consultant will respond to you directly.</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>    
        <div class="spinner spinner-global ">
            <svg class="spinner--icon" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path class="spinner--circunference" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50" transform="rotate(57.2947 50 50)"></path>
        </svg>
        </div>
    </main>

